/**basic styles**/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #eae2d8;
  font-family: 'Inter', sans-serif;
  overflow-y: hidden; 
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}


a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

section{
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

div{
	display: block;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


/**background*/
.background{
	align-items: center;
	display: flex;
	height: calc(100vh - 160px);
	justify-content: space-between;
	margin: 80px auto;
	width: 90%;
}


/**left column**/
.welcome, .white-noise{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 160px);
	justify-content: space-between;
	width: 30.333%;
}

h1{
	font-family: 'Abril Fatface', cursive;
	line-height: 110%;
	font-size: 4vw;
	margin-bottom: 20px;
	text-transform: capitalize;
}

h2{
	font-family: Noto Serif TC;
	margin-bottom: 50px;
}

h4{
	margin-bottom: 20px;
	line-height: 120%;
}

.spotify{
	width: 280px;
	height: 260px;
	border-width: 0;
}

.youtube{
	width: 280px;
	height: 200px;
	border-width: 0;
	margin-bottom: 20px;
}

/**middle colum**/
.image{
	position: relative;
}

.big{
width: 75%;
margin-left: 30px;
}

/**.mos{
	width: 60%;
	height: 60%;
	margin-top:100px;
	position:relative;
	animation: ani-mos 10s ease infinite;
	transform-origin: 0% 0%;
}

.mos-body{
	position:absolute;
}

@keyframes ani-mos {
	0%{ left:50px;transform: rotate(30deg);}
	50% {left:200px;transform: rotate(-360deg);}
	100% {left:50px;transform: rotate(30deg);}
}**/

/**right header**/
.white-noise{
	align-items: flex-end;
	min-width: 265px;
}


.share{
	margin-right: 40px;
}

.audioBar{
	margin-bottom: 20px;
	width: 100%;
}

.audioBar-row{
	display: flex;
	justify-content: space-between;
	max-width: 270px;
}

.audio-player{
	cursor: default;
	justify-content: left;
	height: auto;
	align-items: center;
	font-family: sans-serif;
	font-weight: 100;
	color: black;
	font-size: small;
	width: 260px;
	display: flex;
	flex-direction: column;
}

audio{
	margin: 0 10px;
	height: 20px;
	width: 260px;
}

.tier-top{
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
	margin: 0.3rem;
}

#play{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.player-img{
	height: 1rem;
	width: auto;
	margin: 0 10px;
}

.slide-container{
	display: flex;
	align-items: center;
	margin-right: 0.15em;
	width: 100%;
}

p{
	margin-bottom: 5px;
}


/*選單*/
.header{
	width: 600px;
	height: fit-content;
}

.header ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	float: right;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

.header ul li{
	float: left;
}

.header ul li a{
	display: block;
	float: left;
	height: 30px;
	text-align: center;
}

.header ul li ul {
	position: absolute;
	width: fit-content;
	overflow: visible;
	clear: left;
	margin: 30px 0 0 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #eae2d8;
	text-transform: lowercase;
	font-weight: 200;
}

.header ul li:hover ul {
	visibility: visible;}

.header ul li ul li {
	float: left;
	text-align: center;}

.header ul li ul li a {
	float: left;
	width: 100%;
	color: black;

}

.header ul li ul li ul {
	margin-top: -30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 100px;
	width: 100%;
}


/*card*/

.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

.flip-card > * {
  visibility: visible;
}

.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}


.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #CEC6BB,
    #A8A093
  );
}


/*手機版的 */  

@media screen and (max-width: 1023px) {



body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #eae2d8;
  font-family: 'Inter', sans-serif;
}

section{
	width: 100%;
}


.background{
	flex-direction: column;
	margin: 50px auto;
	padding: 0 22px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 90%;
	overflow-x:hidden;
}

h1{
	line-height: 88%;
	font-size: 3rem;
	margin-bottom: 20px;
}

h2{
	font-weight: 400;
	font-size: 1.25rem;
}

.spotify{
	display: none;
}

.image{
	position: relative;
}

.big{
	width: 80%;
	margin-right: 20px;
}

 
.header{
	display: none;
}

.welcome, .white-noise{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 160px);
	justify-content: space-between;
	width: 100%;
}

.white-noise{
	margin-top: 40px;
}

.audiobox{
	margin: 0 auto;
}

.audioBar p{
	margin: 0 auto;
}

.audioBar-row{
	margin: 0 auto;
}

.playlist-mobile{
	margin-left: 20px;
}

.playlist-mobile iframe{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 280px;
	height: 260px;
	border-width: 0;
}

.credit{
	margin: 0 auto;
}

}



@media screen and (min-width: 1024px) {
  .playlist-mobile, #header-container {
    display: none;
  }

  .menu-button, .menu-button-checkbox {
    display: none;
  }

}