/**basic styles**/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #eae2d8;
  font-family: 'Inter', sans-serif;
  overflow-y: hidden; 
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}


a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

section{
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

div{
	display: block;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


/**background*/
.background{
	align-items: center;
	display: flex;
	height: calc(100vh - 160px);
	justify-content: space-between;
	margin: 80px auto;
	width: 90%;
}


/**left column**/
.welcome, .white-noise{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 160px);
	justify-content: space-between;
	width: 30.333%;
}

h1{
	font-family: 'Abril Fatface', cursive;
	line-height: 110%;
	font-size: 4vw;
	margin-bottom: 20px;
	text-transform: capitalize;
}

h2{
	font-family: Noto Serif TC;
	margin-bottom: 50px;
}

h4{
	margin-bottom: 20px;
	line-height: 120%;
}

.spotify{
	width: 280px;
	height: 260px;
	border-width: 0;
}

/**middle colum**/
.image{
	position: relative;
}

.big{
width: 80%;
margin-left: 30px;
}

/**.mos{
	width: 60%;
	height: 60%;
	margin-top:100px;
	position:relative;
	animation: ani-mos 10s ease infinite;
	transform-origin: 0% 0%;
}

.mos-body{
	position:absolute;
}

@keyframes ani-mos {
	0%{ left:50px;transform: rotate(30deg);}
	50% {left:200px;transform: rotate(-360deg);}
	100% {left:50px;transform: rotate(30deg);}
}**/

/**right header**/
.white-noise{
	align-items: flex-end;
	min-width: 265px;
}

.header{
	display: flex;
	text-transform: uppercase;
	font-weight: 600;
}

.share{
	margin-right: 40px;
}

.audioBar{
	margin-bottom: 20px;
	width: 100%;
}

.audioBar-row{
	display: flex;
	justify-content: space-between;
	max-width: 270px;
}

.audio-player{
	cursor: default;
	justify-content: left;
	height: auto;
	align-items: center;
	font-family: sans-serif;
	font-weight: 100;
	color: black;
	font-size: small;
	width: 260px;
	display: flex;
	flex-direction: column;
}

audio{
	margin: 0 10px;
	height: 20px;
	width: 260px;
}

.tier-top{
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
	margin: 0.3rem;
}

#play{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.player-img{
	height: 1rem;
	width: auto;
	margin: 0 10px;
}

.slide-container{
	display: flex;
	align-items: center;
	margin-right: 0.15em;
	width: 100%;
}

p{
	margin-bottom: 5px;
}



/*手機版的 */  

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #eae2d8;
  font-family: 'Inter', sans-serif;
}

section{
	width: 100%;
}


.background{
	flex-direction: column;
	margin: 50px auto;
	padding: 0 22px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 90%;
	overflow-x:hidden;
}

h1{
	line-height: 88%;
	font-size: 3rem;
	margin-bottom: 20px;
}

h2{
	font-weight: 400;
	font-size: 1.25rem;
}

.spotify{
	display: none;
}

.image{
	position: relative;
}

.big{
	width: 80%;
	margin-right: 20px;
}

 
.header{
	display: none;
}

.welcome, .white-noise{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 160px);
	justify-content: space-between;
	width: 100%;
}

.white-noise{
	margin-top: 40px;
}

.audiobox{
	margin: 0 auto;
}

.playlist-mobile{
	margin: 0 auto;
}

.playlist-mobile iframe{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 280px;
	height: 260px;
	border-width: 0;
}

.credit{
	margin: 0 auto;
}

}

@media screen and (min-width: 1024px) {
  .playlist-mobile {
    display: none;
  }
}